<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <div>
        <form th:action="@{/login}" method="post">
            <input type="text" name="userId" placeholder="아이디 입력">
            <input type="text" name="pwd" placeholder="비밀번호 입력">
            <button type="submit">Login</button>
        </form>
    </div>
</th:block>

</body>
</html>